@media only screen and (min-width: 768px) {
  app-board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    grid-template-areas:
      "player game"
      "newGame game"
      "winner game"
      "none game";
  }
}
