<nb-layout>

  <nb-layout-header fixed>
    <h1>Fireship's Tic-tac-toe with tweaks from me</h1>

  </nb-layout-header>

  <nb-layout-column>

    <app-board></app-board>
    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <span>made by ze: <a href="https://gitlab.com/jmsj777">@jmsj777</a></span>
  </nb-layout-footer>

</nb-layout>