main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-gap: 2px;
  height: 30vw;
  grid-area: game;
}

app-square {
  // border: 2px transparent solid;
  // height: 1fr;
  height: 12vw;
}

button {
  margin-bottom: 10px;

  grid-area: newGame;
}

h1 {
  grid-area: player;
}
h2 {
  grid-area: winner;
}

@media only screen and (max-width: 767px) {
  main {
    height: 70vw;
  }
  app-square {
    // border: 2px transparent solid;
    height: 23vw;
  }
}
// @media only screen and (min-width: 768px) and (max-width: 2000px) {
//   main {
//     height: 30vw;
//   }
//   app-square {
//     // border: 2px transparent solid;
//     height: 12vw;
//   }
// }
